body { 
    padding-top: 70px; 
}
.presenca {
    background: rgb(220, 250, 220)
}
.falta {
    background: rgb(250, 220, 220); 
    color: rgb(250, 220, 220)
}
.sinalizaFalta {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}
.sinalizaPresenca {
    color: green;
    font-size: 1.2em;
}
.presenca-sessao {
    border: 0;
    font-weight: bold;
    font-size: 0.7em;
    
}
